
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(product_images/bg.jpg) no-repeat;
  background-size: cover;
}


/*addProduct*/

.allform {
    /*width: 80%;*/
    width:922px;
    border: 6px solid #2F4F4F;
    margin-left: 76px;
    /*margin-top: 100px;*/
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background: gray;
    font-weight: bold;
    /*color: white;*/
    font-size: 20px;
     background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  /*color: white;*/


}
.allformForCompline {
    width: 80%;
    /*width:922px;*/
    border: 6px solid #2F4F4F;
    margin-left: 180px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background: gray;
    font-weight: bold;
    /*color: white;*/
    font-size: 20px;
     background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  /*color: white;*/


}

.margin{
	margin-top:15px; 
	
}


.btn {
    width: 100px;
    height: 50px;
    border-radius: 11px;
    color: #fff;
    background: #CD5C5C;
    margin-left: 4px;
    align-self: center;

}
#m {
    margin-left: -147px;
   
}
#m1{
	margin-left: -114px;
}#m2{
	margin-left: -61px;
}
#m3 {
    margin-left: -116px;
    margin-top: 18px;
    margin-bottom: 12px;
}
#m4 {
    margin-left: 80px;
    margin-bottom: 23px;
}
#drop {
    margin-left: -28px;
    margin-top: 13px;
}

